body{
  margin:0;
}

.contriesWrapper {
  display:flex;
  gap:20px;
  flex-wrap : wrap;
  justify-content:center;
  padding:30px
}
.countryCard {
  text-align : center;
  border:1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}
header{
  padding:16px;
  background:#f4f4f4;
  text-align:center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input{
  font-size:14px;
  color:#777;
  padding: 10px;
}